@use "layout/base";
@use "layout/form";

.amount-value,
.total-value {
  font-size: 2rem;
  margin: 0;
  color: var(--Strong-cyan);
  @media screen and (min-width: 1024px) {
    font-size: 3rem;
  }
}
