form.calculator(action="pos")
  .calculator__inputs
    .calculator__money-container
      label.calculator__label(for="money") Bill
      input.calculator__money#money(type="number" name="money" placeholder="0")
      p.calculator__alert.calculator__alert--hide(aria-hidden="true") Can't be zero
    .calculator__tips(role="group" aria-labelledby="calculatorLegend")
      p.calculator__legend#calculatorLegend Select Tip %
      .calculator__controls
        +button("5")
        +button("10")
        +button("15")
        +button("25")
        +button("50")
        input.calculator__customtip(type="number" aria-label="Custom Tip" placeholder="Custom")
    .calculator__people-container
      label.calculator__label(for="people") Number of People
      input.calculator__peoplenumber#people(type="number" name="people" placeholder="0")
      p.calculator__alert.calculator__alert--hide(aria-hidden="true") Can't be zero
  .calculator__results
    .calculator__tipamount
      p.calculator__paragraph Tip Amount
        span.calculator__individual / person
      p.amount-value $0.00
    .calculator__total
      p.calculator__paragraph Total
        span.calculator__individual / person
      p.total-value $0.00
    button.calculator__button.calculator__button--empty(type="reset") RESET